<div>
  <a href="#/articles" ng-click="getArticles()"><button>article list</button></a>
  <a ng-if = "login == 'true'" href="#/postArticle"><button>post article</button></a>
  <a ng-if = "login == 'true'" href="#/logOut" ng-click="logOut()"><button align="right">log out</button></a>
</div>
<!-- account information -->
<div class="container">
  <div class="jumbotron text-center">
    <table>
      <thead>
        <tr>
          <th>account</th>
          <td>{{ user.Account }}</td>
        </tr>
        <tr>
          <th>password</th>
          <td>{{ user.Password }}</td>
        </tr>
      </thead>
    </table>
  </div>
</div>
