<div>
  <a href="#/articles" ng-click="getArticles()"><button>article list</button></a>
  <a ng-if = "login == 'true'" href="#/postArticle"><button>post article</button></a>
  <a ng-if = "login == 'true'" href="#/logOut" ng-click="logOut()"><button align="right">log out</button></a>
</div>
<!-- account information -->
<div class="container">
  <p> account information</p>
  <div class="jumbotron text-center">
    <table>
      <thead>
        <tr>
          <th>account</th>
          <td>{{ user.Account }}</td>
        </tr>
        <tr>
          <th>password</th>
          <td>
            <p ng-show = "!pwd">{{ user.Password }}</p>
            <p ng-click="showpwd()">click to show/hide password</p>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>

<div>
  <p> your article list</p>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>post date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="article in articles | orderBy : 'mDate' track by article._id">
        <form>
          <td><a href="#/articles/{{article._id}}">{{ article.Title }}</a></td>
          <td>{{ article.Author }}</td>
          <td ng-repeat-end>{{article.pDate}}</td>
        </form>
      </tr>
    </tbody>
  </table>
</div>
