<div>
  <a href="#/articles" ng-click="getArticles()"><button>article list</button></a>
  <a ng-if = "login == 'true'" href="#/postArticle"><button>post article</button></a>
  <a href="#/signIn" ng-if = "login == 'false'"><button>sign in</button></a>
  <a href="#/signUp" ng-if = "login == 'false'"><button>sign up</button></a>
  <a ng-if = "login == 'true'" href="#/users/{{user_id}}"><button align="right">home</button></a>
  <a ng-if = "login == 'true'" href="#/logOut" ng-click="logOut()"><button align="right">log out</button></a>
</div>
<div class="container">
  <!-- HEADER AND TODO COUNT -->
  <div class="jumbotron text-center">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <td>{{ article.Title }}</td>
        </tr>
        <tr>
          <th>Author</th>
          <td>{{ article.Author }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Content</th>
          <form>
            <td>{{ article.Content }}</td>
          </form>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th><p> post date:</p></th>
          <th><p> {{article.pDate}}</p></th>
        </tr>
        <tr>
          <th><p> modify date </p></th>
          <th><p> {{article.mDate}}</p></th>
        </tr>
      </tfoot>
    </table>
    <div>
      <a href="#/articles/{{article._id}}/edit">edit</a>
      <button type="button" ng-click="deleteArticle(article._id)"> delete </button>
    </div>
  </div>
</div>
