<div>
  <a href="#/signIn" ng-if = "!login"><button>sign in</button></a>
  <a href="#/signUp" ng-if = "!login"><button>sign up</button></a>
  <a ng-if = "login" href="#/postArticle"><button>post article</button></a>
  <a ng-if = "login" href="#/logOut" ng-click="logOut()"><button align="right">log out</button></a>
</div>
<!--list of artucles-->
<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>post date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="article in articles | orderBy : 'mDate'">
        <form>
          <td><a href="#/articles/{{article._id}}">{{ article.Title }}</a></td>
          <td>{{ article.Author }}</td>
          <td>{{article.pDate}}</td>
        </form>
      </tr>
    </tbody>
  </table>
</div>
