<!--list of artucles-->
<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>post date</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="article in articles | orderBy : 'mDate'">
        <form>
          <td><a href="#/articles/{{article._id}}">{{ article.Title }}</a></td>
          <td>{{ article.Author }}</td>
          <td>{{article.pDate}}</td>
          <td><button type="button" ng-click="deleteArticle(article._id)"> delete </button></td>
        </form>
      </tr>
    </tbody>
  </table>
</div>
