<div>
  <a href="#/articles" ng-click="getArticles()"><button>article list</button></a>
</div>
<div id="sign-in-form" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form name="signInForm">
      <div class="form-group">
        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
        account: <input name = "user_name" type = 'text' class="form-control input-lg text-center" placeholder = 'please type your account name' ng-model="formData.user_name"  ng-required = "true"></input>
        password: <input name = "user_pwd" type = 'password' class="form-control input-lg text-center" placeholder = 'please type your password' ng-model="formData.user_password"  ng-required = "true"></input>
        <!-- createToDo() WILL CREATE NEW TODOS -->
        <button ng-if="signInForm.user_name.$valid && signInForm.user_pwd.$valid" type="submit" class="btn btn-primary btn-lg" ng-click="signIn()">Submit</button>
      </div>
    </form>
  </div>
</div>
